For the organization:
\- name
\- about section (if you don't want to write it I can, usually will just follow a format of "<org> is located <place>. they run <games>. " then you can throw in any more info or whatnot)
\- logo picture (ideally transparent background)
\- discord permanent link (optional)
\- youtube channel link (optional)
\- twitter link (optional)
\- twitch channel link (optional)

For any events:
\- name
\- event type (weekly, monthly, etc)
\- address
\- event description
\- start.gg link (optional, please only send a link if it will stay the same, e.g. start.gg/yourlocalname)