#events-section {
  margin-left: 4vw;
  margin-right: 4vw;
}

.events-intro-section {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.events-title {
  white-space: nowrap;
  color: #4993E7;
}

.events-paragraph {
  font-size: 2.5vh;
}

.events-listings {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.events-listings-buttons {
  padding: 20px;
  border: 3px black solid;
  border-radius: 12px;
  width: 32vw;
  max-height: 50vh;
  overflow-x: hidden;
  scrollbar-color: #4993E7 white;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
}

.events-listings-descriptions {
  border: 3px black solid;
  border-radius: 12px;
  width: 55vw;
  padding: 20px;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scrollbar-color: #4993E7 white;
  scrollbar-width: thin;
}

.events-button {
  padding: 0;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: black;
  font-size: 2vh;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: none;
}

.events-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.event-info-button {
  padding: 0;
  border: none;
  background-color: white;
  color: blue;
}

.event-info-button:hover {
  cursor: pointer;
}

/* LEAFLET CLASSES */

.leaflet-container {
  margin-top: 2vh;
  border: 3px black solid;
  border-radius: 12px;
  width: 90.5vw;
  height: 75vh;
}

@media only screen and (max-width: 600px) {
  .events-intro-section {
    flex-direction: column;
    text-align: center;
  }

  .events-listings {
    flex-direction: column;
  }

  .events-listings-buttons {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    width: 83vw;
    gap: 3vw;
  }

  .events-button {
    white-space: nowrap;
  }
  
  .events-listings-descriptions {
    width: 83vw;
  }
}