.top-bar {
  top:0;
  left:0;
  right:0;
  position: static;
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.nav-buttons {
  display:flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.nav-button {
  padding: 0;
  border: none;
  background-color: black;
  color: white;
}

.nav-button:hover {
  cursor:pointer;
  filter: brightness(60%)
}

.nav-button, .nav-spacer {
  font-size: 2vh;
}

.navbar-title {
  font-size: 4vh;
  color: #4993E7;
}

@media only screen and (max-width: 600px) {
  .top-bar {
    flex-direction: column;
  }
  .nav-buttons {
    flex-direction: column;
  }
  p.nav-spacer {
    display: none;
  }
}