.welcome-bg {
  /* background-image: url('../assets/background3.png'); */
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding:8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  position: relative;
}

.welcome-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.fade.welcome-bg::before{
  opacity: 1;
}

.welcome-title {
  color:white;
  margin: 0;
  margin-bottom: 4vh;
  font-size: 6vh;
  z-index: 2;
}

.welcome-button{
  padding: 0;
  border-radius: 5px;
  background-color: #5865F2;
  color: white;
  font-size: 2vh;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px white solid;
  z-index: 2;
}

.welcome-button:hover {
  cursor:pointer;
  filter: brightness(60%)
}