:root{
  --color-text: #000000;
  --color-bg: #FFFFFC;
  --color-shade: #e9dec9;
  --color-highlight-1: #FF7F11;
  --color-highlight-2: #FF3F00;
}

body {
  font-family: Roboto;
}

.header-main {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-bg);
  box-shadow: 0px 1px 3px var(--color-highlight-2);
}

.header-socials {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.header-page-links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;
}

.filter-highlight{
  filter: invert(57%) sepia(93%) saturate(2111%) hue-rotate(348deg) brightness(98%) contrast(106%);
}

.filter-bg{
  filter:invert(100%) sepia(0%) saturate(7500%) hue-rotate(309deg) brightness(107%) contrast(102%);
}

.flex-hori{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
  padding: 0px 10px;
}

.social-button{
  border: none;
  background-color: var(--color-highlight-1);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  color: var(--color-bg);
  padding: 10px;
}

.page-link{
  color: var(--color-highlight-2);
  font-size: calc(10px + 1vmin);
  font-weight: bolder;
  margin: 0px 5px;
}

.color-highlight-1{
  color: var(--color-highlight-1)
}

.color-highlight-2{
  color: var(--color-highlight-2)
}

.landing-splash{
  background-color: var(--color-shade);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px black;
  padding-bottom: 50px;
}

.title-text{
  font-weight: bolder;
  font-size: calc(10px + 6vmin);
  margin: 10vmin 0px;
}

.about-box {
  margin: auto;
  background-color: var(--color-bg);
  border-radius: 20px;
  box-shadow: 10px 10px grey;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .about-box {
    flex-direction: column;
  }
}

.about-text { 
  font-size: calc(10px + 1.5vmin);
}

.about-image-wrapper {
  padding: 20px;
  background-color: var(--color-highlight-1);
  border-radius: 10px;
}

.organizer-section {
  display: flex;
  flex-direciton: row;	
  background-color: var(--color-shade);
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.organizer-title-wrapper {
  margin: auto;
  background-color: var(--color-bg);
  border-radius: 20px;
  box-shadow: 10px 10px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.organizer-info-wrapper {
  margin: auto;
  background-color: var(--color-bg);
  border-radius: 20px;
  box-shadow: 10px 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
